<div class="main">
    <div class="chat">
        <div>    
            <div class="chat2">
                <div>
        <p> ちゃちゃまる
            <SPAN>投稿日時18:30 </SPAN>
        </p>
        <p>本文aaaaaaaaa</p>    
                </div>
        <div>
            <ul>
                <li>
                
                        <a href="#">edit</a></li>
                <li>
                        <a href="#">delite</a></li>
            </ul>
            
        </div>
        
        
            </div>
            <div class="chat2">
                <div>
        <p>ジュン
            <SPAN>投稿日時18:30 </SPAN>
        </p>
        <p>本文aaaaaaaaa</p>    
                </div>
        <div>
            <ul>
                <li>
                
                        <a href="#">edit</a></li>
                <li>
                        <a href="#">delite</a></li>
            </ul>
            
        </div>
        
        
            </div>
            <div class="chat2">
                <div>
        <p>ラムネ
            <SPAN>投稿日時18:30 </SPAN>
        </p>
        <p>本文aaaaaaaaa</p>    
                </div>
        <div>
            <ul>
                <li>
                
                        <a href="#">edit</a></li>
                <li>
                        <a href="#">delite</a></li>
            </ul>
            
        </div>
        
        
            </div>

        </div>
    </div>
    
    <div class="chat-form">

        <form>  
            <input type="text">
            <input type="submit" value="SEND">
        </form>
    </div>
</div>

